.example-card {
  margin: 24px;
  width: 240px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card {
  display: inline-block;
}

.status-offline, .status-online {
  margin-left: auto;
}

@media (max-width: 599px) {
  button {
    height: 32px;
    width: 100%;
  }
}
