<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{name}}</mat-card-title>
    <span class="status-online" *ngIf="online">Online</span>
    <span class="status-offline" *ngIf="online === false">Offline</span>
  </mat-card-header>
  <img mat-card-image src="{{imageUrl}}">
  <mat-card-content>
    <p>
      Lorem ipsum...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="startChatting(userId)">Chat</button>
  </mat-card-actions>
</mat-card>
